.main{
  background-color: whitesmoke;
  height: auto;
  max-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app {
  height: 100%;
  width: 100%;
  max-width: 650px;
}

.expenser_container{
  line-height: 25px;
  position: relative;
  width: 100%;
  height: 100%;
}

.search{
 width: 100%;
 position: relative;

}

.input_search{
  width: 100%;
  outline: none;
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom: 3px solid black;
  border-radius: 7px;
  padding: 6px;
}

.limit{
  font-size:13px;
  margin-top:-15px;
  margin-bottom:15px;
  margin-right: 10px;
/*   position: relative;
  right: 0px;
  top: 0px; */
}

.exp{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.disp1{
  height: auto;
  max-height: 30%;
  overflow-Y: scroll;
  padding: 10px;
  background-color: whitesmoke;
}

.disp1::-webkit-scrollbar {
    display: none;
}

.mylist{
  background-color: green;
}

.form-control:focus{
  outline: none !important;
  box-shadow: none !important;
  border-color: #000 !important;
}